
	    {% extends 'base.html.twig' %}
	    {% block title%} Show Individual Article {% endblock %}
	    {% block body %} 
	    <p>{{article.body}}</p>
	    <hr><a href="/">Go Back</a></hr>
	    {% endblock %}

